/* Formfornecedor.css */

form{
    width: 80%;
    margin: 20px auto; 
    padding: 10px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
.custom-select{
    width: 200px; 
    padding: 10px;

}
.form-cotacao-container{
    display: flex;
    flex-direction: row;
    width: 70%; 
    gap: 10px;
    margin: 20px auto; 
}


